<h1><%= @user.full_name %></h1>
<br />

<h4>User Info</h4>
<p><%= @user.email %></p>
<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>

<h4>Address Info</h4>
<p><%= @user.address.street %></p>
<p><%= @user.address.city %></p>
<p><%= @user.address.state %></p>
<p><%= @user.address.zip %></p>

<h4>User Tasks</h4>
<ul>
  <% @user.tasks.each do |task| %>
    <li>
      <%= task.name %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit User', edit_user_path(@user) %>